extends ../layout
title #{title}
block content
  include ../nav.jade

  div.container
    h2 #{title}
    form(role='form', method="post", action="/login")
      div(class="form-group")
        label(from="name") Name
        input(type="text", name="name", class="form-control")

      div(class="form-group")
        label(from="password") Password
        input(type="password", name="password", class="form-control")

      div.actions
        br
        input(type="submit", value="login", class="btn btn-primary")

