extends layout

block content
  h2 Welcome to #{title} User Dashboard
  form(name="add-estimation", method="post")
    div(class="form-group")
      label(from="name") Name
      input(type="text", name="title", class="form-control")

    div(class="form-group")
      label(from="password") Password
      input(type="password", name="password", class="form-control")

    div(class="form-group")
      label(from="phone") Phone
      input(type="phone", name="phone", class="form-control")

    div(class="form-group")
      label(from="alias") Alias
      input(type="alias", name="alias", class="form-control")


    div.actions
      br
      input(type="submit", value="add", class="btn btn-primary")
