doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/bower/bootstrap/dist/css/bootstrap.css')
  body
    block content
