doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/assets/bower/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/assets/bower/jquery/dist/jquery.js')
    script(src='/assets/bower/bootstrap/dist/js/bootstrap.js')
  body
    include ./nav.jade
    block content
  include ./footer.jade
