nav(class="navbar navbar-default navbar-fixed-top")
  div.container
    div#navbar(class="collapse navbar-collapse")
      ul(class="nav navbar-nav")
        li(role="presentation")
          a(href="/") Home
        li(role="presentation")
          a(href="/login") Login
        li(role="presentation")
          a(href="/register") Register
